body{
	 font-family:segoe ui light;
background:EAEAF4;
	}
#inputs {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}


input[type=text], input[type=number], input[type=password], input[type=submit], input[type=button], input[type=date] {
  width: 90%;
  height: 40px;
  margin: 0 auto;
  display: block;
  margin-bottom: -10px;
  padding: 5px, 5px, 5px, 5px;
  box-sizing: border-box;
  -webkit-text-stroke: 0.1px;
  float:left;

}

input[type=submit],input[type=button] {
  color: #fff;
  background-color: #378DE5;
  border: 1px solid #378DE5;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  transition: all .3s ease;
  cursor: pointer;
  margin:auto;
  width:80%;
  float:left; padding: 5px; box-sizing: border-box;
  margin:10px 10px 10px 10px;
 }
 
select{
  width: 90%;
  height: 40px;
  margin: 0 auto;
  display: block;
  margin-bottom: -10px;
  padding: 5px, 5px, 5px, 5px;
  box-sizing: border-box;
  -webkit-text-stroke: 0.1px;
  color: #3300ff;
  border-radius: 5px;
   font-weight: 300;
  font-size:16px; 
  float:left;
}

input[type=text], input[type=number], input[type=password],input[type=date] {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size:16px; 
  border: thin solid #ccc;
  border-radius: 5px;
/*  color: #378DE5;*/
	color:#070707;
 }
 input[type=button]:hover {
  background-color: #2E64FE;
  color: #fff;
}
input[type=submit]:hover {
  background-color: #33ff33;
  color: #fff;
}

 
 .div80d{float:left;width:80%; margin:auto; box-sizing: border-box; margin-left:2%; margin-top: 15px; height:60px; background:#ffffff;  }
 .div80{float:left;width:80%; margin:auto; box-sizing: border-box; margin-left:2%; margin-top: 15px; height:60px; background:red; }
 .divtotal{float:left;width:100%; margin-top: 30px; box-sizing: border-box; height:500px; border: 0px solid red;}
 .elementoForm{float:left;width:100%;height:65px; margin-top: 5px;}
 .seccionIzquierda{float:left;width:48%; margin-left: 1%; box-sizing: border-box;height:100%; border: 0px solid blue;}
 .seccionDerecha{float:right;width:48%; margin-left: 1%; box-sizing: border-box;height:100%;border: 0px solid blue;}
 .botonIzquierda{float:left;width:50%; box-sizing: border-box;height:55px; border: 0px solid blue;}
 .botonDerecha{float:right;width:50%;  box-sizing: border-box;height:55px;border: 0px solid blue;}
 .divEncabezado{width:100%; height:100px;margin:auto;overflow:hidden;background:skyblue;}
.encabezadoInterno{ width:95%;max-width:1100px; margin:auto;overflow:hidden; cursor:pointer;}	
	
.divMenu{width:100%; margin:auto; max-width:100%; background:#00ff00; box-sizing:border-box;}

.logo{ float:right; width:8%; margin-right:3%; height: 100%; background-image:url("img/logo.png"); min-height:30px; margin-top:57px; background-repeat:no-repeat; }
img { width: 100%;height: auto;}
.divTitulo{min-height:40px; width:95%; overflow:hidden; margin:0 auto; }
.h2{width:60%; float:left;  margin-left:3%;}
.logDivTitulo{min-height:30px; width:95%; overflow:hidden; margin:0 auto;padding:2% 6% 1% 7%;box-sizing: border-box; align-content:center; }